/** Cursor Custom Settings **/

/** Removing buttons on the start screen **/
.cursor-button.cursor-button-primary.cursor-button-primary-clickable {
  display: none !important;
}

.cursor-button.cursor-button-secondary.cursor-button-secondary-clickable {
  display: none !important;
}

.on-hover-please-highlight-editor-empty-screen {
  display: none !important;
}

/** VS Code Custom Settings **/

@font-face {
  font-family: "JetBrains Mono";
  src: url("./JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/** Center Control Palette **/
.quick-input-widget {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translateY(-50%) !important;
  /* width: 650px !important; */
  width: 800px !important;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.45) !important;
  padding: 10px 10px 18px 10px !important;
  border-radius: 20px !important;
  z-index: 1000 !important;
}

/** Change text input **/
.quick-input-filter .monaco-inputbox {
  font-family: "JetBrains Mono", monospace !important;
  padding: 8px !important;
  font-size: 15px !important;
  font-weight: 700 !important;
  margin-bottom: 16px !important;
}

/** Change text input for Control Palette**/
.monaco-inputbox .ibwrapper .input {
  font-size: 18px !important;
  font-weight: bolder !important;
}

/** Change the Font of the list items **/
.label-name,
.monaco-highlighted-label {
  font-family: "JetBrains Mono", monospace !important;
  font-weight: 700 !important;
  font-size: 16px !important;
}

/** Change the Font of the breadcrumbs **/
.label-name,
.outline-element .monaco-breadcrumb-item {
  font-family: "JetBrains Mono", monospace !important;
  font-weight: 700 !important;
  font-size: 14px !important;
}

/** Tooltip **/
.monaco-editor-hover,
.monaco-hover {
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.45) !important;
  padding: 10px !important;
  background-color: #000000 !important;
  border-radius: 12px !important;
  border: thin solid #505050 !important;
}

#command-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.02);
  top: 0;
  left: 0;
  backdrop-filter: blur(2px);
}
